
/* customizations  */
@import './variables';
@import './include-media';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#root {
  @include media('>=desktop') {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

.slick-slider {
  .slick-arrow  {
    z-index: 10;

    &.slick-next,
    &.slick-prev {
      &:before {
        font-size: 24px;
        color: $black;
      }
    }

    &.slick-next {
      right: 2px;
    }
    &.slick-prev {
      left: 0;
    }
  }

  .slick-dots {
    bottom: 0;
  }
}

@import "bootstrap";